/*-----section home-about-us-----*/

.home-about-us{
    background-color: #e9e1d9;
    padding: 40px 10px;
    color: #333;
}

.home-about-us p{
    width: 85%;
    margin-bottom: 8px;
}

.testo-about-us{
    display: flex;
    flex-direction: column;
    gap: 14px;
}